header {
  background-color: red;
  width: 200px;
  box-shadow: 1px black; }
  header h1 {
    color: black;
    font-size: 20px; }
  header nav ul {
    background-color: #f3f3f3;
    display: flex justify-content, center; }
    header nav ul li {
      background-color: yellow; }
      header nav ul li:hover {
        background-color: red; }

h1 {
  color: red; }

h3 {
  color: black; }
